# Step 1 :: Read CSV

In [8]:
#start
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("BlackFriday.csv") #todo change file name to your csv
#end

# <h1>Step2 :: high level analysis</h1>

In [16]:
# df.head()
# df.info()
df.describe()
#df.describe(include=['O'])

,User_ID,Product_ID,Gender,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age_0-17,...,Age_51-55,Age_55+,City_Category_A,City_Category_B,City_Category_C,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
count,5.375770e+05,537577.000000,537577.000000,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000,537577.000000,...,537577.000000,537577.000000,537577.000000,537577.000000,537577.000000,537577.000000,537577.000000,537577.000000,537577.000000,537577.000000
mean,1.002992e+06,1692.331275,0.754087,8.08271,0.408797,5.295546,9.842144,12.669840,9333.859853,0.027358,...,0.069977,0.038884,0.269055,0.421322,0.309623,0.135283,0.351935,0.185013,0.173579,0.154190
std,1.714393e+03,1002.576538,0.430627,6.52412,0.491612,3.750701,5.087259,4.124341,4981.022133,0.163124,...,0.255108,0.193318,0.443469,0.493771,0.462338,0.342026,0.477574,0.388309,0.378747,0.361131
min,1.000001e+06,0.000000,0.000000,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.001495e+06,927.000000,1.000000,2.00000,0.000000,1.000000,5.000000,9.000000,5866.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.003031e+06,1646.000000,1.000000,7.00000,0.000000,5.000000,9.000000,14.000000,8062.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.004417e+06,2534.000000,1.000000,14.00000,1.000000,8.000000,15.000000,16.000000,12073.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,1.006040e+06,3622.000000,1.000000,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

<h1>Step 3 :: null check</h1>

In [17]:
na_percentage = (df.isnull().sum()/df.shape[0]*100).sort_values(ascending=False)
print(na_percentage)

Product_Category_3               69.441029
Product_Category_2               31.062713
Stay_In_Current_City_Years_4+     0.000000
Stay_In_Current_City_Years_3      0.000000
Product_ID                        0.000000
Gender                            0.000000
Occupation                        0.000000
Marital_Status                    0.000000
Product_Category_1                0.000000
Purchase                          0.000000
Age_0-17                          0.000000
Age_18-25                         0.000000
Age_26-35                         0.000000
Age_36-45                         0.000000
Age_46-50                         0.000000
Age_51-55                         0.000000
Age_55+                           0.000000
City_Category_A                   0.000000
City_Category_B                   0.000000
City_Category_C                   0.000000
Stay_In_Current_City_Years_0      0.000000
Stay_In_Current_City_Years_1      0.000000
Stay_In_Current_City_Years_2      0.000000
User_ID                           0.000000
dtype: float64

<h1>Step 4 :: null correction</h1>

In [ ]:
# mv = df["Product_Category_3"].mean()
# mv
df.fillna(0,inplace=True)
# df.fillna(ma,inplace=True)
#fill with cate avg like titanic age data

<h1>Step 5 :: Label Encoding and one hot encoding</h1>

In [14]:
import numpy as np
#Feature with ranking or more no of unique valus
# df.describe(include=['O'])
# df.describe()
# type(df["User_ID"][0])
from sklearn.preprocessing import LabelEncoder
la = LabelEncoder()
df['Product_ID'] = la.fit_transform(df['Product_ID'])
# df.describe(include=['O'])
# df["Stay_In_Current_City_Years"].unique()
# df["City_Category"].unique()
# df["Age"].unique()
# df["Gender"].unique()
#	Gender	Age	City_Category	Stay_In_Current_City_Years
df['Gender'] = np.where(df['Gender']=='M',1,0) # Female: 0, Male: 1
# df_Age = pd.get_dummies(df.Age)
# df = pd.concat([df,df_Age],axis=1)
# df.drop("Age", axis="columns", inplace=True)
df = pd.get_dummies(df)
df
# cols = ["City_Category", "Stay_In_Current_City_Years" ]
# df = pd.get_dummies(df, columns=cols, prefix=cols)
# df
# df.describe(include=['O']) #it will error
# df.describe(include=['O']) #it will error
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 24 columns):
User_ID                          537577 non-null int64
Product_ID                       537577 non-null int64
Gender                           537577 non-null int64
Occupation                       537577 non-null int64
Marital_Status                   537577 non-null int64
Product_Category_1               537577 non-null int64
Product_Category_2               370591 non-null float64
Product_Category_3               164278 non-null float64
Purchase                         537577 non-null int64
Age_0-17                         537577 non-null uint8
Age_18-25                        537577 non-null uint8
Age_26-35                        537577 non-null uint8
Age_36-45                        537577 non-null uint8
Age_46-50                        537577 non-null uint8
Age_51-55                        537577 non-null uint8
Age_55+                          537577 non-null uint8
City_Category_A                  537577 non-null uint8
City_Category_B                  537577 non-null uint8
City_Category_C                  537577 non-null uint8
Stay_In_Current_City_Years_0     537577 non-null uint8
Stay_In_Current_City_Years_1     537577 non-null uint8
Stay_In_Current_City_Years_2     537577 non-null uint8
Stay_In_Current_City_Years_3     537577 non-null uint8
Stay_In_Current_City_Years_4+    537577 non-null uint8
dtypes: float64(2), int64(7), uint8(15)
memory usage: 44.6 MB

<h1>Step 6 :: Feature Engg by corr heatmap, plat, describe, or random sel or whatever...</h1>

In [13]:
# import seaborn as sns
# corr = df.corr()
# corr = np.abs(corr)
# sns.set(rc={'figure.figsize':(20,16)})
# hm = sns.heatmap(corr, annot=True)
# # # hm = sns.heatmap(corr)
# hm
corr["Purchase"].sort_values()
# df = df.drop(["Marital_Status"], axis='columns')

NameError: name 'corr' is not defined

<h1>Step 7 :: Separate X and Y </h1>

In [20]:
X = df.drop(['Purchase'], axis=1)
y = df['Purchase']

# <h1>Step 8 :: Train Test Split </h1>

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=100)

# <h1>Step 9 :: Scalling </h1>

In [22]:
# df.describe()
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
scaler = sc.fit(X)
#X_train = scaler.transform(X_train)
#X_test = scaler.transform(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
type(X_train)

# <h1>Step 10 :: Baseline Model </h1>

In [10]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)
model.fit(X_train, y_train)
model.score(X_test, y_test)

NameError: name 'X_train' is not defined

# <h1>Step 11: hyperpara tuning</h1>

In [9]:
from sklearn.model_selection import RandomizedSearchCV
# from sklearn.model_selection import GridSearchCV
# from sklearn.naive_bayes import GaussianNB
# from sklearn.metrics import accuracy_score

n_estimators = [int(x) for x in np.linspace(start=1, stop=200, num = 4)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(1, 50, num = 11)]
max_depth.append(None)
min_samples_split = [2, 3, 5, 10]
min_samples_leaf = [1, 2, 4]
bootstrap = [True, False]
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
rf_random = RandomizedSearchCV(estimator = model, param_distributions = random_grid, cv = 3)
rf_random.fit(X_train, y_train)

NameError: name 'np' is not defined

In [ ]:
model = rf_random.best_estimator_
print(rf_random.best_params_)
model.fit(X_train, y_train)
print(model.score(X_test, y_test))
print(y_test[:10])
print(model.predict(X_test[:10]))